[submodule "CaelumRex/vendor/spdlog"]
	path = CaelumRex/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CaelumRex/vendor/glfw"]
	path = CaelumRex/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "CaelumRex/vendor/imgui"]
	path = CaelumRex/vendor/imgui
	url = https://github.com/SyZha12/imgui
	branch = docking
[submodule "CaelumRex/vendor/glm"]
	path = CaelumRex/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "CaelumRex/vendor/imgui-docking/imgui-docking"]
	path = CaelumRex/vendor/imgui-docking/imgui-docking
	url = https://github.com/SyZha12/imgui
